<!-- Start IT Services Banner Area -->
<div class="it-services-banner-area">
    <div class="container" id="form">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="it-services-banner-content title-landing">
                    <h4>Webinar Gratuito</h4>
                    <h1>Taller en línea: Como mejorar la rentabilidad tus activos con el apoyo de un GMAO.</h1>
                    <div class="col-lg-10 col-md-12 mt-3">
                        <div style="display: flex;gap: 10px;">
                            <div class="btn btn-light">En vivo <i style="color:cadetblue;" class="flaticon-desktop-application"></i> </div>
                            <div class="btn btn-light">2 horas <i style="color:cadetblue;" class="flaticon-analysis"></i> </div>
                            <div class="btn btn-light">Español <i style="color:cadetblue;" class="flaticon-right-quotes-symbol"></i> </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="btn btn-primary">Cuando: 02-05-2024</div>
                    </div>
                    <p class="mt-3 text-landing">¡Ven a conocer Cegid Valuekeep! El software líder en mantenimiento de activos que te ayuda a evitar molestas y costosas paradas de producción por avería de maquinaria, mediante mantenimientos predictivos y preventivos.</p>
                    <div>
                        <img alt="image" class="partner" src="assets/img/it-services-home/cegid_partner.png" width="25%">
                        <img alt="image" src="assets/img/it-services-home/partner.png" width="29%">
                        <div class="btn-box">
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-12">
                <div class="contact-form container-form">
                    <h4>¡Registrate gratis en segundos!</h4>
                    <br>
                    <form id="contactForm" [formGroup]="formGroup" (submit)="salvarDatos()">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group mb-3">
                                    <input type="text" name="name" id="name" formControlName="nombre" class="form-control" placeholder="Nombre"
                                    [ngClass]="{ 'is-invalid': submitted && f['nombre'].errors }">
                                    @if (submitted && f['nombre'].errors) {
                                        <div class="invalid-feedback">
                                            @if (f['nombre'].errors['required']) {
                                            <div>Nombre es requerido</div>
                                            }
                                        </div>
                                        }
                                </div>
                            </div>
                            
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group mb-3">
                                    <input type="email" name="email" id="email" formControlName="email" class="form-control" placeholder="Correo Electrónico"
                                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                    @if (submitted && f['email'].errors) {
                                        <div class="invalid-feedback">
                                            @if (f['email'].errors['required']) {
                                            <div>Correo electrónico es requerido</div>
                                            }
                                        </div>
                                        }
                                </div>
                            </div>
                            
                            <div class="col-lg-5 col-md-6" style="padding-left: 7px;padding-right: 7px;">
                                <div class="form-group mb-3">
                                    <lib-country-list (onCountryChange)="onCountryChange($event)" class="form-control" [selectedCountryConfig]="selectedCountryConfig" [countryListConfig]="countryListConfig"
                                    [allowedCountryCodes]="allowedCountryCodes" selectedCountryCode="mx"></lib-country-list>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6" style="padding-left: 7px;padding-right: 7px;">
                                <div class="form-group mb-3">
                                    <input type="text" name="phone_number" formControlName="telefono" id="phone_number" class="form-control" placeholder="Número de Teléfono"
                                    [ngClass]="{ 'is-invalid': submitted && f['telefono'].errors }">
                                    @if (submitted && f['telefono'].errors) {
                                        <div class="invalid-feedback">
                                            @if (f['telefono'].errors['required']) {
                                            <div>Telefono es requerido</div>
                                            }
                                        </div>
                                        }
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group mb-3">
                                    <input type="text" name="empresa" id="empresa" formControlName="empresa" class="form-control" placeholder="Compañia"
                                    [ngClass]="{ 'is-invalid': submitted && f['empresa'].errors }">
                                    @if (submitted && f['empresa'].errors) {
                                        <div class="invalid-feedback">
                                            @if (f['empresa'].errors['required']) {
                                            <div>Nombre de la compañia es requerido</div>
                                            }
                                        </div>
                                        }
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group mb-3">
                                    <select name="rol" id="rol" class="form-control form-select" formControlName="rol"
                                    [ngClass]="{ 'is-invalid': submitted && f['rol'].errors }">
                                        <option value="" disabled selected>Cargo</option>
                                        <option value="Gerente General">Gerente General</option>
                                        <option value="Supervisor o Jefe de Mantenimiento">Supervisor o Jefe de Mantenimiento</option>
                                        <option value="Técnico">Técnico</option>
                                        <option value="Planificador de Mantenimiento">Planificador de Mantenimiento</option>
                                        <option value="Estudiante">Estudiante</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                    @if (submitted && f['rol'].errors) {
                                        <div class="invalid-feedback">
                                            @if (f['rol'].errors['required']) {
                                            <div>Selecciona un cargo</div>
                                            }
                                        </div>
                                        }
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-form">Registrarme</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End IT Services Banner Area -->

<!-- Start Features Style Area -->
<div class="features-style-area">
    <div class="container">
        <div class="features-style-inner-box">
            <div class="row justify-content-center">
                <h1 class="mb-3" style="text-align: center;font-weight: bold;">Aprovecha al máximo Valuekeep y rentabiliza tu operacion </h1>
                <div class="col-lg-3 col-md-6 mt-3">
                    <div class="features-style-card text-center">
                        <div class="icon">
                            <i class="flaticon-branch"></i>
                        </div>
                        <div class="features-content" style="padding: 10px;">
                            <h5>Cuales son los principales desafios para empresas industriales</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-3">
                    <div class="features-style-card text-center">
                        <div class="icon">
                            <i class="flaticon-web"></i>
                        </div>
                        <div class="features-content" style="padding: 10px;">
                            <h5>¿como ayuda un GMAO como Valukeep a resolver estos desafios y a transformar digitalmente las empresas para ser cada vez mas competitivos</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-3">
                    <div class="features-style-card text-center">
                        <div class="icon">
                            <i class="flaticon-launch"></i>
                        </div>
                        <div class="features-content" style="padding: 10px;">
                            <h5>Software Cegid Valuekeep principales características</h5>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-3">
                    <div class="features-style-card text-center">
                        <div class="icon">
                            <i class="flaticon-application-1" alt="image"></i>
                        </div>
                        <div class="features-content" style="padding: 10px;">
                            <h5>Presentacion de la Interfaz Valuekeep casos practicos</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="team-area ptb-110">
    <div class="container">
        <div class="section-title {{mobile ? 'justify-content-center':''}}">
            <div class="image justify-content-center" style="display: flex;">
                <img src="assets/img/it-services-home/paola.jpeg" width="60%" style="border-radius: 50%;border:1px solid chartreuse" alt="image">
            </div>
            <div class="content">
                <span>Conoce a tu Instructora en Valuekeep</span>
                <h2>Paola Riaño</h2>
                <h4>Business Development</h4>
                <div>
                    <a href="https://www.linkedin.com/in/paola-ria%C3%B1o-moreno-a0baa6151/" target="_blank" class="">
                        <i class="flaticon-linkedin-letters"></i>
                        Contactar en Linkedin
                    </a>
                    
                </div>
                <p>Desarrolladora de Mercado Cegid Valuekeep Latam, quién es Ingeniera Electrónica y especialista en negocios digitales para el área de mantenimiento. </p>
                <button (click)="topScroll('#form')" class="btn btn-primary mt-3">Regstrate gratis</button>
            </div>           
        </div>
    </div>
</section>     
<!-- End Features Style Area -->
