<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Software de Mantenimiento</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Software Mantenimiento</li>
            </ul>
        </div>
    </div>

    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot2.png" alt="image"></div>
    <div class="dot-shape3"><img src="assets/img/shape/dot3.png" alt="image"></div>
    <div class="dot-shape4"><img src="assets/img/shape/dot4.png" alt="image"></div>
    <div class="dot-shape5"><img src="assets/img/shape/dot5.png" alt="image"></div>
    <div class="dot-shape6"><img src="assets/img/shape/dot6.png" alt="image"></div>
    <div class="dot-shape7"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="shape16"><img src="assets/img/shape/shape13.svg" alt="image"></div>
    <div class="shape17"><img src="assets/img/shape/shape14.svg" alt="image"></div>
    <div class="shape18"><img src="assets/img/shape/shape15.png" alt="image"></div>
    <div class="shape19"><img src="assets/img/shape/shape16.png" alt="image"></div>
    <div class="shape20"><img src="assets/img/shape/shape14.svg" alt="image"></div>
</div>
<!-- End Page Title Area -->

<!-- Start Services Details Area -->
<section class="services-details-area ptb-110">
    <div class="container">
        <div class="services-details-overview">
            <div class="services-details-desc">
                <h3>Alianza Estratégica</h3>
                <p>Es con entusiasmo que anunciamos la firma de una alianza estratégica entre OptimusSystem y Valuekeep, dos líderes destacados en sus respectivos campos, para ofrecer soluciones tecnológicas avanzadas y optimizar las integraciones entre sistemas empresariales.</p>
                <p>Esta colaboración estratégica tiene como objetivo principal aprovechar las fortalezas y experiencias únicas de OptimusSystem en el desarrollo de software y la innovación en tecnologías de la información (IT), junto con la especialización de Valuekeep en soluciones de mantenimiento y gestión de activos.</p>
            </div>

            <div class="services-details-image wow animate__animated animate__fadeInUp">
                <img src="assets/img/services-details/alianza.png" alt="image">
            </div>
        </div>

        <div class="services-details-overview">
            <div class="services-details-image wow animate__animated animate__fadeInUp">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ggx-C2OStRA?si=JIyU4bVtYxV0kEiB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="services-details-desc">
                <h3>Cegid Valuekeep GMAO</h3>
                <p>Cegid Valuekeep es una plataforma de software de gestión de mantenimiento y activos (CMMS) que ayuda a las empresas a organizar y optimizar sus operaciones de mantenimiento. Permite a las organizaciones gestionar el ciclo de vida de sus activos, programar tareas de mantenimiento, gestionar inventarios y mejorar la eficiencia operativa.</p>

                <div class="services-details-accordion">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Gestión Integral de Activos
                            </a>
                            <p class="accordion-content show">Permite a las empresas tener una visión completa del ciclo de vida de sus activos, desde la adquisición hasta la retirada.</p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Planificación de Mantenimiento
                            </a>
                            <p class="accordion-content">Facilita la planificación eficiente de tareas de mantenimiento preventivo y predictivo, lo que contribuye a reducir tiempos de inactividad no planificados.</p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Movilidad y Acceso Remoto
                            </a>
                            <p class="accordion-content">Ofrece funcionalidades móviles que permiten a los equipos de trabajo acceder a la información y realizar intervenciones desde cualquier ubicación.</p>
                        </li>
                    </ul>
                </div>
                <div class="btn-box" style="padding-top: 20px;">
                    <a routerLink="/landingpage-valuekeep" class="btn btn-primary">Solicitar Demo</a>
                </div>
            </div>
        </div>

        <div class="services-details-overview">
    
            <div class="services-details-desc">
                <h3>Gestiona3w</h3>
                <p>Cegid Gestión3W es un sistema de gestión empresarial (ERP) basado en la nube diseñado para ayudar a las empresas a optimizar sus operaciones de manteniiento, gestión de activos y operaciones para mejorar la eficiencia en diversas áreas funcionales. Al ser una solución integral, Gestión3W integra y centraliza datos y procesos comerciales en una única plataforma.</p>

                <div class="services-details-accordion">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Mejora la productividad de tu empresa
                            </a>
                            <p class="accordion-content show">Los técnicos acceden a toda la información necesaria para los trabajos y envían información desde sus dispositivos para agilizar el trabajo administrativo</p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Sigue en tiempo real el trabajo de tus técnicos
                            </a>
                            <p class="accordion-content">Todos los movimientos de los técnicos quedan registrados en el Panel de Control, desde cualquier lugar y en tiempo real.</p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Controla toda tu información
                            </a>
                            <p class="accordion-content">Obtén ratios de productividad por técnicos, de rentabilidad por clientes, de riesgos, por equipos. Así tomarás decisiones más informadas.</p>
                        </li>
                    </ul>
                </div>
                <div class="btn-box" style="padding-top: 20px;">
                    <a routerLink="/landingpage-gestiona3w" class="btn btn-primary">Solicitar Demo</a>
                </div>
            </div>
            <div class="services-details-image wow animate__animated animate__fadeInUp">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/RCOLGVpVrpM?si=wm6QgibtraMexuNP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->