<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Terminos y Condiciones</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRefTerm.close()"
    ></button>
  </div>
  <div class="modal-body">
<p>Fecha de vigencia: 27-03-2024 / 27-03-2026</p>
<p>Por favor, lea detenidamente estos t&eacute;rminos y condiciones antes de usar nuestro sitio web o landing page. Al acceder o utilizar este sitio, usted acepta estar legalmente vinculado por estos t&eacute;rminos y condiciones. Si no est&aacute; de acuerdo con estos t&eacute;rminos, por favor, no acceda ni utilice nuestro sitio.</p>
<p><strong>1. Uso del sitio</strong></p>
<ul>
    <li>
        <p>Usted acepta utilizar este sitio &uacute;nicamente con fines legales y de acuerdo con estos t&eacute;rminos y condiciones.</p>
    </li>
    <li>
        <p>Se le proh&iacute;be utilizar este sitio de cualquier manera que pueda causar da&ntilde;o al sitio web, a otros usuarios o que pueda ser ilegal, fraudulenta o perjudicial de cualquier otra manera.</p>
    </li>
</ul>
<p><strong>2. Propiedad intelectual</strong></p>
<ul>
    <li>
        <p>Todo el contenido incluido en este sitio, como texto, gr&aacute;ficos, logotipos, im&aacute;genes, clips de audio, videos, descargas digitales y software, es propiedad de [Nombre de la empresa] o de sus licenciantes y est&aacute; protegido por las leyes de propiedad intelectual aplicables.</p>
    </li>
    <li>
        <p>Usted no puede copiar, distribuir, modificar, reproducir, transmitir o utilizar de otra manera ning&uacute;n contenido de este sitio sin el consentimiento previo por escrito de [Nombre de la empresa].</p>
    </li>
</ul>
<p><strong>3. Enlaces a sitios web de terceros</strong></p>
<ul>
    <li>Este sitio puede contener enlaces a sitios web de terceros. Estos enlaces son proporcionados &uacute;nicamente para su conveniencia. No tenemos control sobre el contenido de estos sitios web de terceros y no asumimos ninguna responsabilidad por ellos.</li>
</ul>
<p><strong>4. Limitaci&oacute;n de responsabilidad</strong></p>
<ul>
    <li>En la medida m&aacute;xima permitida por la ley aplicable, en ning&uacute;n caso [Nombre de la empresa] ser&aacute; responsable por ning&uacute;n da&ntilde;o directo, indirecto, incidental, especial, consecuente o punitivo que surja del uso o la imposibilidad de uso de este sitio.</li>
</ul>
<p><strong>5. Modificaciones</strong></p>
<ul>
    <li>Nos reservamos el derecho de modificar estos t&eacute;rminos y condiciones en cualquier momento. Los cambios entrar&aacute;n en vigencia inmediatamente despu&eacute;s de su publicaci&oacute;n en este sitio. El uso continuado de este sitio despu&eacute;s de la publicaci&oacute;n de los cambios constituir&aacute; su aceptaci&oacute;n de dichos cambios.</li>
</ul>
<p><strong>6. Ley aplicable</strong></p>
<ul>
    <li>Estos t&eacute;rminos y condiciones se regir&aacute;n e interpretar&aacute;n de acuerdo con las leyes de la Ley de privacidad de EE. UU. de 1974 sin tener en cuenta sus disposiciones sobre conflictos de leyes.</li>
</ul>
<p><strong>7. Contacto</strong></p>
<ul>
    <li>Si tiene alguna pregunta sobre estos t&eacute;rminos y condiciones, por favor cont&aacute;ctenos.</li>
</ul>
<p>&Uacute;ltima actualizaci&oacute;n: 27-03-2024</p>
<hr>
<p><br></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRefTerm.close()">
      Cerrar
    </button>
  </div>