<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Deserrollo Mobile</h2>
            <ul>
                <li><a routerLink="/">Inicio</a></li>
                <li>Desarrollo Mobile</li>
            </ul>
        </div>
    </div>

    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot2.png" alt="image"></div>
    <div class="dot-shape3"><img src="assets/img/shape/dot3.png" alt="image"></div>
    <div class="dot-shape4"><img src="assets/img/shape/dot4.png" alt="image"></div>
    <div class="dot-shape5"><img src="assets/img/shape/dot5.png" alt="image"></div>
    <div class="dot-shape6"><img src="assets/img/shape/dot6.png" alt="image"></div>
    <div class="dot-shape7"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="shape16"><img src="assets/img/shape/shape13.svg" alt="image"></div>
    <div class="shape17"><img src="assets/img/shape/shape14.svg" alt="image"></div>
    <div class="shape18"><img src="assets/img/shape/shape15.png" alt="image"></div>
    <div class="shape19"><img src="assets/img/shape/shape16.png" alt="image"></div>
    <div class="shape20"><img src="assets/img/shape/shape14.svg" alt="image"></div>
</div>
<!-- End Page Title Area -->

<!-- Start Services Details Area -->
<section class="services-details-area ptb-110">
    <div class="container">
        <div class="services-details-overview">
            <div class="services-details-desc">
                <h3>Tu Visión, Tu Aplicación, Tu Éxito</h3>
                <p>Bienvenido a OptimuSystem, tu socio confiable en el emocionante mundo del desarrollo de software móvil. Nos especializamos en convertir tus ideas en aplicaciones móviles impactantes que cautivan a tus usuarios y posicionan tu negocio en la palma de sus manos.</p>
                
            </div>

            <div class="services-details-image wow animate__animated animate__fadeInUp">
                <img src="assets/img/services-details/mobile1.png" alt="image">
            </div>
        </div>

        <div class="services-details-overview">
            <div class="services-details-image wow animate__animated animate__fadeInUp">
                <img src="assets/img/services-details/mobile2.png" alt="image">
            </div>

            <div class="services-details-desc">
                <h3>¿Que nos hace diferentes?</h3>
                <p>En OptimuSystem, estamos emocionados de ser tu socio en el desarrollo de aplicaciones móviles. Descubre cómo podemos llevar tu presencia móvil al siguiente nivel. ¡Juntos, transformaremos tus ideas en aplicaciones exitosas!</p>

                <div class="services-details-accordion">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                iOS y Android
                            </a>
                            <p class="accordion-content show">Desarrollamos aplicaciones móviles para las principales plataformas, garantizando que tu aplicación alcance a la audiencia más amplia posible.</p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Diseño Centrado en el Usuario
                            </a>
                            <p class="accordion-content">Nos enorgullece crear experiencias de usuario cautivadoras. Nuestro enfoque de diseño centrado en el usuario garantiza que cada interacción sea intuitiva y atractiva.</p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Desarrollo Nativo y Multiplataforma
                            </a>
                            <p class="accordion-content">Ofrecemos soluciones de desarrollo nativo y multiplataforma, adaptándonos a tus necesidades específicas y maximizando la eficiencia del desarrollo.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->