<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Solicitud de demo enviada</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">Agradecemos tu Solicitud, un miembro de nuestro equipo se pondrá en contacto contigo en breve para coordinar los detalles de la demostración. </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Cerrar
    </button>
  </div>