<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Politica de privacidad</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRefPrivacy.close()"
    ></button>
  </div>
  <div class="modal-body">
<p>Fecha de vigencia: 27-03-2024 / 27-03-2026</p>
<p>La privacidad de nuestros usuarios es una prioridad para nosotros. Esta pol&iacute;tica de privacidad describe c&oacute;mo recopilamos, usamos, divulgamos y protegemos la informaci&oacute;n personal de quienes visitan nuestro sitio web y landing page.</p>
<p><strong>1. Informaci&oacute;n que recopilamos</strong></p>
<ul>
    <li>
        <p><strong>Informaci&oacute;n personal</strong>: Podemos recopilar informaci&oacute;n personal que usted nos brinde voluntariamente al completar formularios en nuestro sitio web, como su nombre, direcci&oacute;n de correo electr&oacute;nico, n&uacute;mero de tel&eacute;fono, direcci&oacute;n postal, etc.</p>
    </li>
    <li>
        <p><strong>Informaci&oacute;n de uso</strong>: Recopilamos autom&aacute;ticamente informaci&oacute;n sobre c&oacute;mo interact&uacute;a con nuestro sitio web, como su direcci&oacute;n IP, tipo de navegador, p&aacute;ginas visitadas, tiempo de visita, etc.</p>
    </li>
    <li>
        <p><strong>Cookies y tecnolog&iacute;as similares</strong>: Utilizamos cookies y tecnolog&iacute;as similares para mejorar la experiencia del usuario y recopilar informaci&oacute;n sobre el uso de nuestro sitio web. Puede ajustar la configuraci&oacute;n de su navegador para rechazar todas las cookies o para que le avise cuando se env&iacute;e una cookie.</p>
    </li>
</ul>
<p><strong>2. Uso de la informaci&oacute;n</strong></p>
<p>Utilizamos la informaci&oacute;n recopilada para:</p>
<ul>
    <li>Personalizar su experiencia en nuestro sitio web.</li>
    <li>Procesar sus pedidos y solicitudes.</li>
    <li>Enviarle informaci&oacute;n relevante sobre nuestros productos o servicios.</li>
    <li>Mejorar la calidad de nuestro sitio web y desarrollar nuevos servicios.</li>
    <li>Cumplir con nuestras obligaciones legales y proteger nuestros derechos legales.</li>
</ul>
<p><strong>3. Divulgaci&oacute;n de informaci&oacute;n</strong></p>
<p>No vendemos, alquilamos ni divulgamos su informaci&oacute;n personal a terceros sin su consentimiento, excepto cuando sea necesario para cumplir con la ley o proteger nuestros derechos legales. Sin embargo, podemos compartir su informaci&oacute;n con proveedores de servicios que nos ayudan a operar nuestro sitio web y brindarle servicios.</p>
<p><strong>4. Seguridad de la informaci&oacute;n</strong></p>
<p>Tomamos medidas razonables para proteger la informaci&oacute;n personal de nuestros usuarios contra el acceso no autorizado, la alteraci&oacute;n, la divulgaci&oacute;n o la destrucci&oacute;n. Sin embargo, tenga en cuenta que ninguna medida de seguridad es completamente impenetrable.</p>
<p><strong>5. Sus derechos de privacidad</strong></p>
<ul>
    <li><strong>Derechos GDPR</strong>: Si est&aacute; ubicado en la Uni&oacute;n Europea, tiene ciertos derechos bajo el GDPR, incluido el derecho a acceder, corregir, eliminar y oponerse al procesamiento de su informaci&oacute;n personal.</li>
    <li><strong>Derechos CCPA</strong>: Si est&aacute; ubicado en California, tiene ciertos derechos bajo la CCPA, incluido el derecho a solicitar detalles sobre la informaci&oacute;n personal que recopilamos, eliminar su informaci&oacute;n personal, etc.</li>
</ul>
<p><strong>6. Enlaces a sitios web de terceros</strong></p>
<p>Nuestro sitio web puede contener enlaces a sitios web de terceros. No somos responsables de las pr&aacute;cticas de privacidad o el contenido de estos sitios web. Le recomendamos que lea las pol&iacute;ticas de privacidad de cualquier sitio web al que acceda desde nuestro sitio.</p>
<p><strong>7. Cambios a esta pol&iacute;tica de privacidad</strong></p>
<p>Nos reservamos el derecho de modificar esta pol&iacute;tica de privacidad en cualquier momento. Cualquier cambio significativo entrar&aacute; en vigencia inmediatamente despu&eacute;s de su publicaci&oacute;n en esta p&aacute;gina.</p>
<p><strong>8. Contacto</strong></p>
<p>Si tiene alguna pregunta sobre esta pol&iacute;tica de privacidad o sobre c&oacute;mo manejamos su informaci&oacute;n personal, no dude en ponerse en contacto con nosotros.</p>
<p>&Uacute;ltima actualizaci&oacute;n: 27-03-2024</p>
<hr>
<p><br></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRefPrivacy.close()">
      Cerrar
    </button>
  </div>