<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Analitica de Datos y Machine Learning</h2>
            <ul>
                <li><a routerLink="/">Inicio</a></li>
                <li>Analitica de Datos y Machine Learning</li>
            </ul>
        </div>
    </div>

    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot2.png" alt="image"></div>
    <div class="dot-shape3"><img src="assets/img/shape/dot3.png" alt="image"></div>
    <div class="dot-shape4"><img src="assets/img/shape/dot4.png" alt="image"></div>
    <div class="dot-shape5"><img src="assets/img/shape/dot5.png" alt="image"></div>
    <div class="dot-shape6"><img src="assets/img/shape/dot6.png" alt="image"></div>
    <div class="dot-shape7"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="shape16"><img src="assets/img/shape/shape13.svg" alt="image"></div>
    <div class="shape17"><img src="assets/img/shape/shape14.svg" alt="image"></div>
    <div class="shape18"><img src="assets/img/shape/shape15.png" alt="image"></div>
    <div class="shape19"><img src="assets/img/shape/shape16.png" alt="image"></div>
    <div class="shape20"><img src="assets/img/shape/shape14.svg" alt="image"></div>
</div>
<!-- End Page Title Area -->

<!-- Start Services Details Area -->
<section class="services-details-area ptb-110">
    <div class="container">
        <div class="services-details-overview">
            <div class="services-details-desc">
                <h3>Transforma Datos en Decisiones Estratégicas</h3>
                <p>En OptimuSystem, te ofrecemos mucho más que análisis de datos convencionales; te proporcionamos una poderosa herramienta de transformación empresarial. Nuestro servicio de Analítica de Datos y Machine Learning fusiona el poder de la información con la inteligencia artificial, permitiéndote descubrir patrones, predecir tendencias y tomar decisiones estratégicas informadas.</p>
                
            </div>

            <div class="services-details-image wow animate__animated animate__fadeInUp">
                <img src="assets/img/services-details/data1.png" alt="image">
            </div>
        </div>

        <div class="services-details-overview">
            <div class="services-details-image wow animate__animated animate__fadeInUp">
                <img src="assets/img/services-details/data2.png" alt="image">
            </div>

            <div class="services-details-desc">
                <h3>¿Que nos hace diferentes?</h3>
                <p>Estamos comprometidos a impulsar el éxito de tu negocio mediante la aplicación estratégica de la analítica de datos y machine learning. Descubre cómo esta potente combinación puede transformar tu enfoque empresarial. ¡Convierte datos en decisiones con OptimuSystem!</p>

                <div class="services-details-accordion">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Análisis Profundo
                            </a>
                            <p class="accordion-content show">Sumérgete en la esencia de tus datos. Nuestro servicio de analítica proporciona insights profundos, revelando correlaciones y oportunidades que pueden pasar desapercibidas con análisis tradicionales.</p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Machine Learning Predictivo
                            </a>
                            <p class="accordion-content">Implementamos modelos de machine learning para prever futuros escenarios basados en patrones históricos. Desde pronósticos de ventas hasta análisis de riesgos, te brindamos una visión predictiva de tu negocio.</p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Segmentación Avanzada
                            </a>
                            <p class="accordion-content">Divide tus datos en segmentos significativos. La segmentación avanzada revela detalles más finos, permitiéndote personalizar estrategias y experiencias de usuario de manera más efectiva.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->