<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Desarrollo de Aplicaciones Web</h2>
            <ul>
                <li><a routerLink="/">Inicio</a></li>
                <li>Desarrollo de Aplicaciones Web</li>
            </ul>
        </div>
    </div>

    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot2.png" alt="image"></div>
    <div class="dot-shape3"><img src="assets/img/shape/dot3.png" alt="image"></div>
    <div class="dot-shape4"><img src="assets/img/shape/dot4.png" alt="image"></div>
    <div class="dot-shape5"><img src="assets/img/shape/dot5.png" alt="image"></div>
    <div class="dot-shape6"><img src="assets/img/shape/dot6.png" alt="image"></div>
    <div class="dot-shape7"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="shape16"><img src="assets/img/shape/shape13.svg" alt="image"></div>
    <div class="shape17"><img src="assets/img/shape/shape14.svg" alt="image"></div>
    <div class="shape18"><img src="assets/img/shape/shape15.png" alt="image"></div>
    <div class="shape19"><img src="assets/img/shape/shape16.png" alt="image"></div>
    <div class="shape20"><img src="assets/img/shape/shape14.svg" alt="image"></div>
</div>
<!-- End Page Title Area -->

<!-- Start Services Details Area -->
<section class="services-details-area ptb-110">
    <div class="container">
        <div class="services-details-overview">
            <div class="services-details-desc">
                <h3>Transforma tus Ideas en Realidad Digital</h3>
                <p>Bienvenido a nuestro servicio de Desarrollo de Software Web, donde la innovación y la funcionalidad se encuentran para llevar tus ideas a la realidad digital.</p>
                <p>En OptimuSystem, nos enorgullece ser tu socio tecnológico, ofreciendo soluciones personalizadas que impulsan el crecimiento de tu negocio y mejoran la experiencia de tus usuarios.</p>
            </div>

            <div class="services-details-image wow animate__animated animate__fadeInUp">
                <img src="assets/img/services-details/web1.png" alt="image">
            </div>
        </div>

        <div class="services-details-overview">
            <div class="services-details-image wow animate__animated animate__fadeInUp">
                <img src="assets/img/services-details/web2.png" alt="image">
            </div>

            <div class="services-details-desc">
                <h3>¿Que nos hace diferentes?</h3>
                <p>En OptimuSystem, estamos comprometidos con la excelencia en el desarrollo de software web. Descubre cómo podemos llevar tu presencia digital al siguiente nivel. ¡Haz que tu visión cobre vida con nuestras soluciones de desarrollo web!</p>

                <div class="services-details-accordion">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Desarrollo a Medida
                            </a>
                            <p class="accordion-content show">Creamos soluciones de software web a medida, adaptadas a tus necesidades específicas. Desde aplicaciones empresariales hasta plataformas de comercio electrónico, nuestro equipo se enfoca en ofrecer soluciones que realmente se ajusten a tu visión.</p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Tecnología de Vanguardia
                            </a>
                            <p class="accordion-content">Estamos a la vanguardia de las últimas tecnologías web. Ya sea utilizando frameworks modernos, lenguajes de programación robustos o arquitecturas escalables, nos aseguramos de que tu software esté a la altura de las expectativas</p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Diseño Centrado en el Usuario
                            </a>
                            <p class="accordion-content">No solo creamos software funcional, sino que también nos preocupamos por la experiencia del usuario. Nuestros diseñadores trabajan para garantizar interfaces intuitivas y atractivas que maximizan la usabilidad.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->