<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Desarrollo de Integraciones</h2>
            <ul>
                <li><a routerLink="/">Inicio</a></li>
                <li>Desarrollo Integraciones</li>
            </ul>
        </div>
    </div>

    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot2.png" alt="image"></div>
    <div class="dot-shape3"><img src="assets/img/shape/dot3.png" alt="image"></div>
    <div class="dot-shape4"><img src="assets/img/shape/dot4.png" alt="image"></div>
    <div class="dot-shape5"><img src="assets/img/shape/dot5.png" alt="image"></div>
    <div class="dot-shape6"><img src="assets/img/shape/dot6.png" alt="image"></div>
    <div class="dot-shape7"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="shape16"><img src="assets/img/shape/shape13.svg" alt="image"></div>
    <div class="shape17"><img src="assets/img/shape/shape14.svg" alt="image"></div>
    <div class="shape18"><img src="assets/img/shape/shape15.png" alt="image"></div>
    <div class="shape19"><img src="assets/img/shape/shape16.png" alt="image"></div>
    <div class="shape20"><img src="assets/img/shape/shape14.svg" alt="image"></div>
</div>
<!-- End Page Title Area -->

<!-- Start Services Details Area -->
<section class="services-details-area ptb-110">
    <div class="container">
        <div class="services-details-overview">
            <div class="services-details-desc">
                <h3>Conectividad Fluida para tu Empresa Digital</h3>
                <p>OptimuSystem se enorgullece de presentar nuestro servicio líder en software de integraciones entre sistemas, diseñado para proporcionar a tu empresa una conectividad fluida y eficiente entre diversas plataformas y aplicaciones.</p>
                <p>Nuestra solución está diseñada para optimizar tus operaciones, eliminar silos de datos y mejorar la colaboración entre aplicativos y sistemas.</p>
            </div>

            <div class="services-details-image wow animate__animated animate__fadeInUp">
                <img src="assets/img/services-details/api1.jpg" alt="image">
            </div>
        </div>

        <div class="services-details-overview">
            <div class="services-details-image wow animate__animated animate__fadeInUp">
                <img src="assets/img/services-details/api2.jpg" alt="image">
            </div>

            <div class="services-details-desc">
                <h3>¿Que nos hace diferentes?</h3>
                <p>Que estamos comprometidos a ofrecer soluciones de integración que impulsen la conectividad y la eficiencia en tu empresa. Descubre cómo nuestras soluciones pueden transformar la forma en que tu empresa opera en el mundo digital.</p>

                <div class="services-details-accordion">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Integración sin Fricciones
                            </a>
                            <p class="accordion-content show">Facilitamos la interconexión de sistemas heterogéneos, asegurando que tus aplicaciones se comuniquen de manera eficiente y sin problemas.</p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Adaptabilidad Universal
                            </a>
                            <p class="accordion-content">Nuestros desarrollos son altamente adaptabless y puede integrarse con una amplia variedad de sistemas, desde ERPs y CRMs hasta aplicaciones personalizadas y plataformas en la nube.

                            </p>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class="fas fa-plus"></i>
                                Automatización Eficiente
                            </a>
                            <p class="accordion-content">Minimizamos la intervención manual mediante la automatización de procesos. Las integraciones se realizan de manera eficiente, liberando tiempo para tareas más estratégicas.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->